.bodyphotos {
   background: linear-gradient( #daf5ee  ,white , #daf3ed);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.bodyphoto {
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
   background-color: white;
   //border: gainsboro 1px solid;
   margin: 20px;
   height: fit-content;
   img {
      width: 300px;
      display: block;
      &:hover {
         opacity: .8;
      }
   }
   p {
      text-align: center;
   }
}
@media screen and (max-width: 700px ) {
   .bodyphoto {
      margin: 10px;
      img {
         width: 250px;
      }
   }
}
@media screen and (max-width: 510px ) {
   .bodyphoto {
      margin: 20px 10px 10px 10px;
      img {
         width: 150px;
      }
   }
}