.header {
  height: 140px;
  background-color: #2e8577;
  .comp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 100px;
  }
}
