.Footer {
    
    background-color: #4e8278;
    height:150px;
    display: flex;
        justify-content: center;
    .icons {
        display: flex;
        align-items: center;
        a {
            color: #ffffff;
            width: 35px;
            margin: 30px;
            &:hover {
                color: rgb(135, 240, 230);
            }
        }
        svg {
            width: 100%;
            height: auto;
        }
    }
}
