.Footer {
    //background-color: #338572;
    background-color: #2e8577;
    height:150px;
    display: flex;
        justify-content: center;
    .icons {
        display: flex;
        align-items: center;
        a {
            color: #cfd4d3;
            width: 35px;
            margin: 30px;
            &:hover {
                color: white;
            }
        }
        svg {
            width: 100%;
            height: auto;
        }
    }
}
