.shoppingbag{
  // right: 20px;
  // top: 10px;
  // position: absolute;
  color: white;
        //width: 22px;
        font-size: 22px;
        
        position: absolute;
        top: 12px;
        right: 18px;
        
        svg {
            width: 100%;
            height: auto;
        }
  // img{
  //     width: 20px;
  //     height: auto;
  //     //position: relative;
  // }
}