.Title {
    margin: 0px;
    padding: 0px 20px;
    text-align: center;
    color: #d7b272;
    letter-spacing: 15px;
    font-family: 'Alata', sans-serif;
    font-size: 40px;
    span {
        background: linear-gradient(to right, #c69849  , #d7b272 , #79510b  );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media screen and (max-width: 1050px) {
    .Title {
        font-size: 30px;
        letter-spacing: 10px;
    }
}
@media screen and (max-width: 768px) {
    .Title {
        font-size: 22px;
        letter-spacing: 5px;

    }
}
