.icons {
    display: inline-block;
    
    img {
        
        padding: 10px;
        width:30px;
        height: auto;
        margin: 70px 10px 20px 10px;
        border-bottom: 2px solid #97D3C9;
        
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}
.mediaicons {
    text-align: center;
}