.Nav {
    
    height: 80px;
    background:  #97D3C9;
    border-top: .02px  solid white;
    
    .menubar {
        color: white;
        width: 22px;
        //height: 27px;
        position: absolute;
        top: 12px;
        left: 13px;
        
        svg {
            width: 100%;
            height: auto;
        }
    }
    
    .links {
        text-align: center;
        font-size: 30px;
        font-style: italic;
        
        .link {
            color: white;
            text-decoration: none;
            padding: 20px;
            display: inline-block;
            margin: 0px 60px 0px 60px;
            border-bottom: 3px solid  #97D3C9;
            &:hover {
                //transition: 1s;
                border-bottom: 3px solid;
            }
            //&:active { border-bottom: 3px solid;}
        }
    }
}
@media screen and (max-width: 1050px) {
    .Nav {
        .links {
            .link {
                margin: 0px 30px 0px 30px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .Nav {
        .links {
            .link {
                margin: 0px 20px 0px 20px;
                font-size: 27px;
            }
        }
    }
}
@media screen and (min-width: 700px) {
    .Nav {
        .menubar {
            display: none;
        }
    }
}
@media screen and (max-width: 699px) {
    .Nav {
        height: 0px;
        height: 100%;
        
        .links {
            
            .link {
                padding: 30px;
                border-bottom: 3px solid ;
                display: block;
            }
        }
    }
}
