.Nav {
    height: 80px;
    background-color: #4e8278;
    .menubar {
        color: #ffffff;
        width: 22px;
        position: absolute;
        top: 12px;
        left: 13px;
        svg {
            width: 100%;
            height: auto;
        }
    }
    .links {
        text-align: center;
        font-size: 30px;
        font-style: italic;
        .link {
            color:#ffffff;
            text-decoration: none;
            padding: 20px;
            display: inline-block;
            margin: 0px 60px 0px 60px;
            background-color:  #4e8278;
            &:hover {
                border-bottom: 4px solid;
                
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    .Nav {
        .links {
            .link {
                margin: 0px 30px 0px 30px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .Nav {
        .links {
            .link {
                margin: 0px 20px 0px 20px;
                font-size: 27px;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .Nav {
        .links {
            .link {
                
            }
        }
        .menubar {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .Nav {
        height: 0px;
        height: 100%;
        .links {
            
            .link {
                padding: 30px;
                border-bottom: 3px solid ;
                display: block;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .Nav {
        height: 0px;
        height: 100%;
        .links {
            .link {
                
            }
        }
        .menubar {
            
        }
    }
}