.Login {
  background: linear-gradient( #daf5ee  ,white , #daf3ed);
  min-height: calc(100vh - 356px);
  border: rgb(229, 238, 233) .1px solid;
  &.form-valid {
    .container3 {
      .right {
      }
      background-color: rgb(238, 252, 250);
    }
  }
  &.form-invalid {
    .container3 {
      .right {
      }
    }
  }
  .error-message {
    max-width: 350px;
    margin: 0 auto;
    color: red;
    ul {
      padding-left: 0px;
      margin-left: 15px;
      margin-right: 15px;
    }
    li {
      list-style-type: circle;
      list-style-position: inside;
      padding: 5px;
      margin: 5px;
      border: solid rgba(red, 0.4) .1px;
    }
  } 
    .container3 { 
      box-shadow: 0 0px 4px 0 rgba(0,0,0,0.50);
      padding: 10px 0px;
      margin-bottom: 30px;
      width: 450px;
      margin-top: 30px;
      margin-left: 50%;
      transform: translate(-50%);
      //border: solid .1px rgba(155, 154, 154, .1);
    .form-group {
      margin: 30px;
      display: flex;
      flex-wrap: wrap;
      .left {
        color:  #566573 ;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        flex: 1 0 89px;
        &.invalid {
          color: red;
          }
        label::after {
          content: " *";
          
            &.invalid {
            color: red;
            }
          
        }
        
      }
      .right {
        flex-grow: 2;
        display: flex;
        input {
          flex: 1;
          padding: 10px;
          font-size: 20px;
          background-color: white;
          &.invalid {
            background-color: rgb(246, 247, 184);  
          }
        }
      }
      .pasword {
        -webkit-text-security: disc;
      }
    }
    button {
      
      box-shadow: 0 0px 2px 0 rgba(0,0,0,0.50);
      background-color: rgb(75, 114, 110)  ;
      color:white;
      border: none;
      font-size: 20px;
      line-height: 40px;
      padding: 0px 20px;
      margin: 20px 0px 0px 35%;
      
      width: 115px;
      &:hover {
          background-color: #566573;
      }
      &:active { 
          background-color: white; 
          color: rgb(61, 61, 134);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Login {
    min-height: calc(100vh - 236px);
  }
}
@media screen and (max-width: 550px) {
  .Login {
    .container3 {
      width: 90%;
    }
  }
}