
.Login {
  
  min-height: 60vh;
  //overflow: auto;
  .form-invalid {
    background: rgb(229, 238, 233); 
  }
  .error-message {
    display: flex;
    justify-content: center;
    left: 50vh;
    color: red;
    padding: 5px;
  } 
  .form-group {
    margin: 40px 40px 0px 40px;
    margin-bottom: 20px;
    .left {
      color:  #566573 ;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
    }
    input {
      box-sizing: border-box;
      font-size: 20px;
      padding: 10px;
    }
    .pasword {
      -webkit-text-security: disc;
    }
    &.invalid {
      border: solid  red;   
      background-color: rgb(255, 166, 166);  
    }
    button {
      background-color: rgb(75, 114, 110)  ;
      color:white;
      border: none;
      font-size: 20px;
      line-height: 40px;
      padding: 0px 20px;
      
      &:hover {
          background-color: #566573;
      }
      &:active { 
          background-color: white; 
          color: rgb(61, 61, 134);
      }
      
    }
  }
}
@media screen and (min-width: 768px) {
  .Login {
      .form-group {
          display: flex;
          .left  { flex: 1; text-align: right; }
          .right { flex: 2; }
      }
  }
}
@media screen and (max-width: 768px) {
  .Login {
    height: 65vh;
    .form-group {
      //margin-left: 30%;
      display: grid;
      
    }
    .error-message {
    
    }
  }
}