
.Login {
  min-height: calc(100vh - 370px);
  border: rgb(229, 238, 233) .1px solid;
  
  .form-invalid {
    background: rgb(229, 238, 233); 
  }
  .error-message {
    position: absolute;
    left: 32%;
    color: red;
  } 
  .container3 { 
    margin-top: 90px;
  .form-group {
    align-items: center;
    margin: 40px 40px 0px 40px;
    .left {
      color:  #566573 ;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
    }
    input {
      box-sizing: border-box;
      font-size: 20px;
      padding: 10px;
    }
    .pasword {
      -webkit-text-security: disc;
    }
    &.invalid {
      border: solid  red;   
      background-color: rgb(255, 166, 166);  
    }
    button {
      background-color: rgb(75, 114, 110)  ;
      color:white;
      border: none;
      font-size: 20px;
      line-height: 40px;
      padding: 0px 20px;
      &:hover {
          background-color: #566573;
      }
      &:active { 
          background-color: white; 
          color: rgb(61, 61, 134);
      }
      
    }
  }
}
}
@media screen and (min-width: 768px) {
  .Login {
    .form-group {
        display: flex;
        .left  { flex: 1 ; text-align: right; }
        .right { flex: 2; }
    }
  }
}
@media screen and (max-width: 767px) {
  .Login {
    min-height: calc(100vh - 250px);
    .error-message {
      left: calc(50% - 150px);
      width: 303px;
      margin: 0 auto;
    }
    .container3 {
      max-width: 300px;
      margin: 90px auto;
    }
    .form-group {
    }
    .error-message {
    }
  }
}