.blok2 {
   background-color: rgb(220, 220, 219);
   padding:  50px 100px;
   display: flex;
   .texcontainer {
      width: 80%;
      background-color: rgb(220, 220, 219);
      .insidetexcontainer {
         padding: 40px 70px 40px 70px;
         margin: 0px;
         height: 80%;
         h1 {
         color: rgb(95, 61, 2);
         padding: 30px;
         height: 50%;
         margin: 0px;
         font-size: 35px;
         &:hover {
            text-decoration: underline;
         }
         }
         p {
         height: 50%;
         margin: 0px;
         color:  rgb(95, 61, 2);
         font-size: 20px;
         text-align: left;      //max-width: 80%;
         padding: 30px;
         }
      }
   }
   .photocontainer {
         width:  50%;
      img {
         width: 100% ;
         height: auto;
         display: block;
      }
   }
}
@media screen and (max-width: 768px ) {
   .blok2 {
      padding: 50px 50px 30px 50px;
      display: block;
      .texcontainer {
         width: 100%;
         overflow: auto;
         .insidetexcontainer {
         padding: 0px;
            p {
               display: none;
            }
            h1 {
               display: none;
            }
         }
      }
   .photocontainer {
      position: relative;
      
      h1 {
         position: absolute;
         color: #2f5e55;
         bottom: 1px;
         text-align: center;
         font-size: 270%;
         background-color: rgba(white, 0.7);
         width: 100%;
      }
      width: 100%;
      img {
      }
      }
   }
}
@media screen and (min-width: 768px ) {
   .blok2 {
      .photocontainer {
         h1 {
         display: none;
         }
         img {
         }
      }
   }
}