
.catalogimg {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.catalogPhoto {
   border: gainsboro 1px solid;
   margin: 20px;
   height: fit-content;
   img {
      width: 300px;
      display: block;
      &:hover {
         opacity: .8;
      }
   }
   p {
      text-align: center;
   }
}
@media screen and (max-width: 700px ) {
   .catalogPhoto {
      margin: 10px;
      img {
         width: 250px;
      }
   }
}
@media screen and (max-width: 510px ) {
   .catalogPhoto {
      margin: 20px 10px 10px 10px;
      img {
         width: 150px;
      }
   }
}